<div th:fragment="admin-add-category" th:object="${category}" class="form form-admin">
   <h2>Categories:</h2><hr>
   <table class="table ">
        <tr>
            <th>id</th>
            <th>Category</th>
            <th>Remove</th>
        </tr>
        <tr th:each="cat : ${category}">
            <td th:text="${cat.id}"></td>
            <td th:text="${cat.categoryName}"></td>
            <td><a class="btn btn-danger" th:href="@{'/admin/remove-category/'+${cat.categoryName}}">Remove</a></td>
        </tr>
   </table><br>
   <h3> Add Category:</h3><hr>
   <form th:object="${newCategory}" method="POST" th:action="@{'/admin/add-category'}">
        <input type="hidden" th:field="*{id}"><br>
        <label>Category Name:</label>
        <input type="text" th:field="*{categoryName}">
        <button type="submit" class="btn btn-primary">Add</button>
   </form>
</div>