<div th:fragment="admin-order-config" th:object="${User_Orders}" class="form form-admin">
    <h3><span th:text="${userName}"></span> Orders</h3><hr>
    <table class="table">
        <tr>
            <th>S.N.</th>
            <th>Order Tracking No</th>
            <th>Total Price</th>
            <th>Purchase Status</th>
            <th>Cancel Purchase</th>
        </tr>
        <tr th:each="order: ${User_Orders}">
            <td th:text="${orderStat.index+1}"></td>
            <td th:text="${order.orderTrackingNumber}"></td>
            <td th:text="'Rs.' + ${order.totalPrice}"></td>
            <td>
                <div th:if="${order.orderPurchased}">
                    Purchased
                </div>
                <div th:unless="${order.orderPurchased}">
                    Not Purchased
                </div>
            </td>
            <td><a th:href="@{'/order/cancel/user/'+${userName}+'/'+${order.orderTrackingNumber}}" class="btn btn-danger">Cancel</a></td>
        </tr>
    </table>
</div>