<div th:fragment="admin-user-config" th:object="${Users_Data}" class="form form-admin">
    <h3>Users</h3><hr>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>   
        </p>
        <tr th:each="user : ${Users_Data}">
            <td th:text="${userStat.index+1}"></td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.role}">Role</td>
            <td><a class="btn btn-success" th:with="user_name=${user.name}" 
                th:href="@{'/admin/user-config/edit/user/'+${user_name}}">Edit</a></td>
        </tr>
    </table>
</div>